<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="checkout_submit_before">
        <observer name="gomage_light_checkout_create_customer_before_submit_checkout"
                  instance="GoMage\LightCheckout\Observer\CreateCustomerBeforeSubmitCheckout" />
    </event>
    <event name="sales_model_service_quote_submit_before">
        <observer name="gomage_light_checkout_delivery_date_from_quote_to_order"
                  instance="GoMage\LightCheckout\Observer\DeliveryDateFromQuoteToOrder" />
        <observer name="gomage_light_checkout_comment_order_from_quote_to_order"
                  instance="GoMage\LightCheckout\Observer\CommentOrderFromQuoteToOrder" />
    </event>
</config>
