<!-- ko if: (isCustomerLoggedIn) -->
<div class="new-address"
     data-bind="visible: isNewAddressLinkVisible && addressOptions.length > 0">
                <span class="action action-toggle" id="add-new-address" data-bind="click: addNewAddressClick">
                    <i class="material-icons">add</i>
                    <span><!-- ko i18n: 'Add New Address'--><!-- /ko --></span>
                </span>
</div>
<!-- /ko -->
<div class="form-add-address billing-address-form">
    <!-- ko foreach: getRegion('before-fields') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
    <!--/ko-->
    <form data-hasrequired="* Required Fields">
        <!-- ko if: (isCustomerLoggedIn) -->
        <div class="choice field glc-checkbox glc-checkbox-save-address"
             data-bind="visible: !isNewAddressLinkVisible() || addressOptions.length == 0">
            <input type="checkbox" class="checkbox" id="billing-save-in-address-book" data-bind="checked: saveInAddressBook" />
            <label for="billing-save-in-address-book">
                <span data-bind="i18n: 'Save New Address to Address Book'"></span>
            </label>
        </div>
        <!-- /ko -->
        <fieldset id="billing-new-address-form" class="fieldset address"
                  data-bind="visible: !isCustomerLoggedIn || !isNewAddressLinkVisible() || addressOptions.length == 0">
            <!-- ko foreach: getRegion('additional-fieldsets') -->
                <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </fieldset>
    </form>
</div>
