<div class="opc-block-summary" data-bind="blockLoader: isLoading">
    <div class="step-title" data-role="title">
        <span data-bind="i18n: 'Order Summary'"></span>

        <!-- ko if: ($data.tooltip && tooltip.description) -->
        <div class="field-tooltip toggle">
            <span class="field-tooltip-action action-help" tabindex="0" data-toggle="dropdown" data-bind="mageInit: {'dropdown':{'activeClass': '_active'}}" aria-haspopup="true" aria-expanded="false"></span>
            <div class="field-tooltip-content" data-target="dropdown" aria-hidden="true">
                <!-- ko text: tooltip.description--><!-- /ko -->
            </div>
        </div>
        <!-- /ko -->

    </div>
    <!-- ko foreach: elems() -->
    <!-- ko template: getTemplate() --><!-- /ko -->
    <!-- /ko -->
</div>
<div data-bind="afterRender: afterRenderSummary.bind($data)"></div>
