<?xml version="1.0"?>
<!--
/**
 * GoMage.com
 *
 * GoMage Core M2
 *
 * @category  Extension
 * @copyright Copyright (c) 2018-2018 GoMage.com (https://www.gomage.com)
 * @author    GoMage.com
 * @license   https://www.gomage.com/licensing  Single domain license
 * @terms     of use https://www.gomage.com/terms-of-use
 * @version   Release: 2.0.0
 * @since     Class available since Release 2.0.0
 */
-->


<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="admin_system_config_changed_section_gomage_core">
        <observer name="gomage_core_config_change" instance="GoMage\Core\Observer\ConfigChangeObserver"/>
    </event>
    <event name="controller_action_predispatch">
        <observer name="gomage_core_notification" instance="GoMage\Core\Observer\NotificationObserver"/>
    </event>
    <event name="admin_system_config_save">
        <observer name="gomage_core_admin_system_config_save" instance="GoMage\Core\Observer\CheckSaveOptionsObserver"/>
    </event>
</config>