<?xml version="1.0" ?>
<!--
/**
 * GoMage.com
 *
 * GoMage Core M2
 *
 * @category  Extension
 * @copyright Copyright (c) 2018-2018 GoMage.com (https://www.gomage.com)
 * @author    GoMage.com
 * @license   https://www.gomage.com/licensing  Single domain license
 * @terms     of use https://www.gomage.com/terms-of-use
 * @version   Release: 2.0.0
 * @since     Class available since Release 2.0.0
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="gomage" sortOrder="200" translate="label">
            <label>GoMage</label>
        </tab>
        <section id="gomage_core" showInDefault="1" showInStore="0" showInWebsite="0" sortOrder="1001" translate="label">
            <label>Activation 2.0</label>
            <tab>gomage</tab>
            <resource>GoMage_Core::gomage_core</resource>
            <group id="api" showInDefault="1" showInStore="0" showInWebsite="0" sortOrder="10" translate="label">
                <label>GoMage Activation 2.0</label>
                <field id="websites" translate="label comment" type="checkbox" sortOrder="20" showInDefault="1">
                    <source_model>Magento\Config\Model\Config\Source\Website</source_model>
                    <frontend_model>GoMage\Core\Block\Adminhtml\Form\Element\Website</frontend_model>
                </field>
                <field id="button" showInDefault="1" showInStore="0" showInWebsite="0" sortOrder="10" translate="label" type="button">
                    <label>Activation Status</label>
                    <frontend_model>GoMage\Core\Block\Adminhtml\System\Config\Form\Button</frontend_model>
                    <comment/>
                </field>
            </group>
        </section>
    </system>
</config>